@import './../../App.scss';

.grid-container {
  display               : grid;
  grid-gap              : 30px;
}

@media (max-width: #{$xs}) {
  .grid-container {
    grid-template-columns : auto;
  }   
}

@media (min-width: #{$xs}) and (max-width: #{$s}) {
  .grid-container {
    grid-template-columns : auto auto;
  }   
}

@media (min-width: #{$s}) and (max-width: #{$xl}) {
  .grid-container {
    grid-template-columns : auto auto auto;
  }   
}

@media (min-width: #{$l}) and (max-width: #{$xl}) {
  .grid-container {
    grid-template-columns : auto auto auto auto;
  }   
}

@media (min-width: #{$xl}) {
  .grid-container {
    grid-template-columns : auto auto auto auto auto;
  }   
}

.section-wrapper {
  background-color  : $zinc-200;
  padding           : 20px;
}

.section-header-wrapper {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  margin          : 0 0 20px 0;
}

.section-header {
  font-weight : 600;
  color       : $zinc-600;
  font-size   : 18px;
}

.section-icon {
  padding         : 8px 9px 4px 9px,;
  margin          : 0;
  background-color: $zinc-100;
  border-radius   : 50%;
  cursor          : pointer;
  display         : inline-block;
}