//Refer: https://tailwindcss.com/docs/background-color
@use "sass:math";
@import './color.scss';

@for $i from 0 through 100 {
  .margin-#{$i*5} {margin: #{$i*5}px !important}
  .mt-#{$i*5} {margin-top: #{$i*5}px !important}
  .mr-#{$i*5} {margin-right: #{$i*5}px !important}
  .mb-#{$i*5} {margin-bottom: #{$i*5}px !important}
  .ml-#{$i*5} {margin-left: #{$i*5}px !important}

  .margin-#{$i} {margin: #{$i}px !important}
  .mt-#{$i} {margin-top: #{$i}px !important}
  .mr-#{$i} {margin-right: #{$i}px !important}
  .mb-#{$i} {margin-bottom: #{$i}px !important}
  .ml-#{$i} {margin-left: #{$i}px !important}
  
  .padding-#{$i*5} {padding: #{$i*5}px !important}
  .pt-#{$i*5} {padding-top: #{$i*5}px !important}
  .pr-#{$i*5} {padding-right: #{$i*5}px !important}
  .pb-#{$i*5} {padding-bottom: #{$i*5}px !important}
  .pl-#{$i*5} {padding-left: #{$i*5}px !important}

  .border-#{i} {border-width: #{$i}px;}
}

$round-25per: math.percentage(math.div(1, 4));
$round-50per: math.percentage(math.div(1, 2));
$round-5: 5px;
$round-10: 10px;
$round-15: 15px;
$round-20: 20px;
$round-25: 25px;
$round-30: 30px;
$round-35: 35px;

//Size
$context-menu-size: 14;

:export {
  contextMenuSize: $context-menu-size;
  round25Per: $round-25per;
  round50Per: $round-50per;
}